header {
  background: black;
}

nav {
  display: flex;

  ul {
    display: flex;

    li {
      display: flex;
      list-style: none;

      &:hover {
        background-color: grey;
      }

      a {
        padding: 30px 20px;
        text-decoration: none;
        color: white;
      }
    }
  }
}